.MenuSup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    width: 102%;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 80px;  
    margin-top: -20px; 
  }

#MenuSupItem {
float: right;
text-align: center;
margin-right: 10px;   
}

#sidebar {
height: 100%;
position: flex;
top: 0;
left: 0;
width: 250px;
background-color: #313132;
padding-top: 20px;
color: white;
}

.sidebar-header {
text-align: center;
padding-bottom: 10px;
}

.list-unstyled {
padding-left: 0;
list-style: none;
}

.list-unstyled a {
color: white;
text-decoration: none;
padding: 8px 10px;
display: block;
}

.list-unstyled a:hover {
background-color: #495057;
}

.sidebar-fixed {
    /* width: 250px; */
    position: fixed;
    top: 0;
    left: 0;
  }

  .logout-icon {
    color: red; /* Muda a cor do ícone para vermelho */
    width: 30px; /* Muda a largura do ícone para 30px */
    height: 30px; /* Muda a altura do ícone para 30px */
  }
  